 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color: burlywood;
}
#input1
{
    text-align: center;
}
#kks
{
    margin-bottom: 2px;
}
#btn
{
    color: antiquewhite;
    background-color: blue;

}
#btn:hover{
    cursor: pointer;
    background-color: red;
}
.box{
    width: 90%;
    margin: 100px auto ;
    max-height: 900px;
    padding: 110px 80px;
    border: 10px solid black;
    border-radius: 12px;
    text-align: center;
    max-width: 600px;
    box-shadow: 2px 2px 12px rgb(20, 20, 20);
    background: linear-gradient(125deg,rgb(106, 106, 245),rgb(250, 246, 247));
}
#temp{
    margin: .4vh;
}
.temp{
    margin: 2vh;
}
#search input,button{
    border-radius: 5vh;
    padding: 1vh 1vw;
    margin: .7vh;
    /* height: 32px; */
    font-size: medium;
    cursor: pointer;
}
#weatherimg{
    width: 10vh;
    border: 100%;
}
.CityDetails{
    margin-top: 5vh;
}

.moredetails{
    margin-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wind img{
    width: 10vh;
}
.humidity img{
    width: 13vh;
}
.pressure img{
    width: 6vh;
}
.wind{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
.humidity{
    
    margin-left: 2vw;
    
    display: flex;
    align-items: center;
}
.pressure{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
